body{
	margin: 0px;
}
a{
	text-decoration-line: none;
	color: black;
}
h1{
	text-align: center;
}
.b-table{
	margin: 30px;
}
table{
	width: 100%;
	border-top: 1px solid;
	text-align: center;
	border-collapse: collapse;
}
th{
	font-size: 15px;
}
th,td{
	border-bottom:1px solid;
	padding: 10px;	
}

thead img{
	width: 40%;
}
.t-head-1{
	width: 11%;
}
.t-head-2{
	width: 10%;
}
tbody img{
	width: 80%;
}
div {
	float: left;
	margin: 30px;
}

li {
	list-style: none;
}
.t-information{
	width: 100%;
	float: left;
	font-size: 15px;
}
.t-information-img{
	width: 60%;
}
.t-Attack img{
	width: 10%;
}

.t-Attack-table {
	width: 30%;
}
.toping-list{
	margin-top: 50px;
}

button {
	margin-left: 30px;
	margin-top: 30px;
}
