body{
	margin: 30px;
	
}
table{
	border-top: 1px solid;
	text-align: center;
	border-collapse: collapse;
}

th{
	font-size: 20px;
}
th,td{
	border-bottom:1px solid;
	padding: 10px;	
}
.t-head-1{
	width: 27%;
}
.t-head-2{
	width: 11%;
}
.t-head-3{
	width: 23%;
}
.t-head-4{
	width: 16%;
}
.t-head-5{
	width: 23%;
}
.Building_name{
	font-size: 15px;
	font-weight: bold;
}
.Building{
	width: 50%;
	float: left;
}

.Products{
	width: 20%;
	float: left;
}

button {
	font-size: 15px;

	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;

}
