body{
	margin: 50px;
	padding: 0;
	
}
table{
	border-top: 1px solid;
	width :100%;
	text-align: center;
	border-collapse: collapse;
}
th{
	width: 800px;
	font-size: 20px;
}
th,td{
	border-bottom:1px solid;
	padding: 10px;
	
}
.Building_name{
	font-size: 15px;
	font-weight: bold;
}
.Building{
	width: 50%;
	float: left;
}

.Products{
	width: 20%;
	float: left;
}
