*{
    margin: 15px;
    text-align: center;
}
table{
    margin: 0 auto;
    margin-top: 15px;
    border: 5px solid rgba(218, 75, 32, 0.76);
    text-align: center;
    width: 60%;
}
th{
    font-size: 30px;
}
td p{
    
    font-size: 15px;
}
.content{
    float: right;
    width: 450px;
}
h1{
    text-align: center;
}
img.castle{
    width: 30%;
    float: left;
}
.Building{
    width: 40%;
}

@media (max-width: 920px){
    *{
        margin: 0;
        text-align: center;
    }
    h1{
        font-size: 28px;
        
    }
    table{
        margin-top: 15px;
        border: 5px solid rgba(218, 75, 32, 0.76);
        text-align: center;
        width: 100%;
        
    }
    th{
        font-size: 30px;
    }
    td p{        
        font-size: 15px;
    }
    .content{
        float: right;
        width: 50%;
    }
    .content-text{
        margin-top: 20px;
        font-size: 14px;
    }
    
    h1{
        text-align: center;
    }
    img.castle{
        width: 40%;
        float: left;
    }
    .Building{
        width: 90%;
    }
}
