#Cooldown_body{
	width: 1080px;	
	margin: 0 auto;
	font-size: 14px;
}
h1{
	text-align: center;
	margin-bottom: 40px;
}
h2{
	margin-top: 20px;
	margin-bottom: 20px;
}
p{
	margin-bottom: 15px;
}
.formula{
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	
}
table{
	width: 100%;
	text-align: center;
	border: 1px solid;
	border-collapse: collapse;
	margin-top: 15px;
	margin-bottom: 15px;
}

th{
	font-size: 20px;
}
th,td{
	border:1px solid;
	padding: 10px;	
}
td{
	height: 7.69%;
}
td img{
	width: 100%;
	
}
.skill_Cooldown img{
    width: 100%;
}
.reference{
	color: red;
}
a{
	text-decoration: none;
	color: rgb(5, 48, 5);
}

@media (max-width: 920px){
	*{
		margin: 0 auto;
	}
	p img{
		width: 50%;
	}
	td img{
		width: 100%;
		
	}
	.skill_Cooldown img{
		width: 20%;
	}
	
}
