.homemain{
    text-align: center;
}

img{    
    width: 80%;
    margin: 40px auto;
}


@media (max-width: 920px){
    img{    
        width: 100%;
        margin-top: 40px;
    }
}
