*{
	margin: 0px;
}
.outline {
	width: 100%;
	height: 100%;
}

.Landmark {
	margin: 15px;
}

.Landmark img {
	width: 50%;
}

.Landmark-table {
	border-top: 1px solid;
	text-align: center;
	border-collapse: collapse;
	
}

th,
td {
	border-bottom: 1px solid;
	padding: 3.8px;
}

.t-h1 {
	width: 20%;
}

.t-h2 {
	width: 24%;
}

.t-h3 {
	width: 5.6%;
}

@media (max-width: 920px){
	*{
		margin: 0;
	}
	.outline {
		width: 100%;
		height: 100%;
	}
	.Landmark{
		margin: 0;
	}
	.Landmark img {
		width: 50%;
	}
	
	.Landmark-table {
		border-top: 1px solid;
		text-align: center;
		border-collapse: collapse;
	}
	
	th,
	td {
		border-bottom: 1px solid;
		padding: 3.8px;
	}
	td{
		font-size: 14px;
	}
	.t-h1 {
		width: 30%;
	}
	
	.t-h2 {
		width: 24%;
	}
	
	.t-h3 {
		width: 0.5%;
		font-size: 14px;
	}
	
}
