*{
        margin: 0 auto; 
}
h1, h2, h3{
    text-align: center;
    margin-bottom: 20px;
}
h1, h2, h3, .tier, .reason, .topping, .Reference, .comparison{
    margin-bottom: 20px;
}
ol{
    padding: 0;
}
.tier li, 
.topping li{
    list-style: none;
}
.reason, .tier, .topping, .Reference, .comparison, .kind
    width: 800px;
}
.reason img{
    width: 400px;
}

table{
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
}
tr,
td {
	border-bottom: 1px solid;
	padding: 3.8px;
}
.t-head{
    font-weight: bold;
    }
table img{
    width: 200px;
}
.comparison img{
    width: 600px;
}

.comparison .a ,.comparison .b{
    margin-bottom: 20px;
}
.c a img{
    width: 20px;    
}
.c a{
    text-decoration: none;
    color: darkgreen;
}
.deck{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 920px){
    *{
        margin: 0 auto; 
    }
    h2, h3{
        font-size: 16px;
    }
    .reason, .topping, .Reference, .comparison, .deck,
    .kind li, table, .kind-sub
    {
        font-size: 13px;
    }

    .reason, .tier{
        width: 100%;
    }

   table{
       width: 100%;
       
   }
   tr,
   td {
	padding: 0;
}
   table img{
    width: 100px;
    }
    .comparison img{
        width: 300px;
    }
    .reason img{
        width: 300px;
    }
}
