h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

.t-table {
	margin: 30px;
}

table {
	width: 100%;
	border-top: 1px solid;
	text-align: center;
	border-collapse: collapse;
}

th {
	font-size: 14px;
}

th,
td {
	border-bottom: 1px solid;
	padding: 10px;
}

thead img {
	width: 40%;
}

.t-head-1 {
	width: 11%;
}

.t-head-2 {
	width: 10%;
}

tbody img {
	width: 80%;
}
@media (max-width: 920px){
	*{
		margin: 0px;
	}
	.t-table {
		margin: 0px;
	}
	h1{
		font-size: 35px;
	}
	th {
		font-size: 0;
	}
	th,
	td {
	padding: 0px;
	}
	td{
		font-size: 14px;
	}
	thead img {
		width: 40%;
	}
	tbody img {
		width: 50%;
	}
	 
}
